@{
	ViewData["Title"] = "About";
}
<!-- =======================
Inner intro START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-400 text-center" style="background-image:url(/images/about.jpeg); background-position: center left; background-size: cover;">
					<!-- Card Image overlay -->
					<div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
						<div class="w-100 my-auto">
							<h1 class="text-white display-4">About Me</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Inner intro END -->
<!-- =======================
About START -->
<section class="pt-4 pb-0">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<p class="lead">
					I built this blog as a summer project to add to my <a href="https://coder-isiahjones-portfolio.netlify.app" target="_blank">Portfolio</a>. I had a lot of fun creating this blog and I hope you find some useful information here as it continues to grow.
				</p>
				<h4>Who am I?</h4>
				<p>
					Junior Software Developer with hands-on experience in software development, UX/UI design, and digital experiences. I have efficiently resolved issues for clients by understanding their needs and developing solutions that are innovative. This has given me the opportunity to explore my skills in front-end development, problem-solving, object-oriented programming, web development. With these skills I hope to continue learning new technologies as well as contributing to the community around me.
					<br><br>
					I'm a recent graduate from Franklin College, where I gained experience with coding and software/front-end development. I also improved my knowledge of C#, JavaScript, HTML, CSS, Bootstrap5 and other tools/languages.
					<br /><br />
					For my Senior Project, I developed a website for Leadership Johnson County to convert a paper-based historical scavenger hunt to a web-based application using the Software Development Lifecycle. Utilized C# and ASP.NET alongside bootstrap while maintaining the database via SQL Server. Also, used Google maps API, Text-To-Voice Google API, and SweetAlerts 2.
					<br><br>
					When I have a lot of extra time on my hands and I spend it learning new technology stacks. React, TailwindCSS, Firebase, Mobile Responsive Design, UI/UX Design. GraphQL - you name it! I'm not an expert in any one of these fields but if there is something new out there that catches my eye or sounds interesting I will explore it because who knows when the next big thing will come around?
					<br><br />
				</p>
				<h6>Languages</h6>
				<ul>
					<li>HTML5</li>
					<li>CSS</li>
					<li>Sass</li>
					<li>Javascript</li>
					<li>C#</li>
					<li>SQL</li>
					<li>Java</li>
				</ul>
				<br />
				<h6>Frameworks:</h6>
				<ul>
					<li>.NET</li>
					<li>ASP.Net MVC</li>
					<li>Entity Framework</li>
					<li>Bootstrap5</li>
					<li>Tailwind CSS</li>
					<li>Flutter</li>
					<li>React</li>
					<li>React Native</li>
				</ul>
				<br />
				<h6>Tools & Other:</h6>
				<ul>
					<li>Visual Studio Code</li>
					<li> Visual Studio</li>
					<li>Figma</li>
					<li>XD</li>
					<li>Terminal</li>
					<li>Netlify, Heroku, Vercel</li>
					<li>RESTful APIs</li>
					<li>PostgreSQL</li>
					<li>MSSMS</li>
					<li> Github</li>
					<li> Git</li>
				</ul>

				<p>
					I am currently pursuing new opportunities and I am also interested in contacting former colleagues and managers, as well as other professionals in my field. Feel free to <a asp-action="Contact">contact me</a> if you wish to connect.
				</p>

				<h3>About Isiah Jones </h3>
				<p class="lead">
					Summer of 2021 I decided to build a blog that I could use to share helpful tips and tricks I've learned in different aspects of my life. I love Programming and Technology, and recently have gotten into more into Fashion, Gaming and overall graphic design as well and am excited
					to share my experiences in these subjects with you. Here are some of the topics I plan to write about:
				</p>

				<ul>
					<li>Coding: 'How to's, Interesting info, walkthroughs, guides and more</li>
					<li>Technology: Cool new tech, things I am working with/building, etc</li>
					<li>Gaming: Tips, Resources, My experiences, advice and more</li>
					<li>Sneakers: Releases, Outfits, interesting facts, Reselling, etc</li>
				</ul>

				<!-- Service END -->
			</div>  <!-- Col END -->
		</div>
	</div>
</section>
<!-- =======================
About END -->
